<p>Sign in to find a bike</p>
<form action="/" method="POST">
  <input name="email" placeholder="email" value="<%=params[:email]%>">
  <input type="submit" value="Sign up!" class="btn btn-primary">
</form>
