<html>
<body>

  <p>Hey man, here is the link so that you can start finding bikes</p>

  <a href="http://<%=host%><%=path_for_auth(email)%>">http://<%=host%><%=path_for_auth(email)%></a>

</body>
</html>